In [32]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

## Store CSV into DataFrame

In [33]:
#create df from the csv files
path1 = "Resources/film-locations-in-san-francisco-1.csv"
path2 = "Resources/netflix_titles.csv"

netflix_movies = pd.read_csv(path2)
film_locations = pd.read_csv(path1)

In [34]:
#check the df
netflix_movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [35]:
#check the df
film_locations.head()

,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,Actor 2,Actor 3
0,180,2011,Epic Roasthouse (399 Embarcadero),NaN,SPI Cinemas,NaN,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand
1,180,2011,Mason & California Streets (Nob Hill),NaN,SPI Cinemas,NaN,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand
2,180,2011,Justin Herman Plaza,NaN,SPI Cinemas,NaN,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand
3,180,2011,200 block Market Street,NaN,SPI Cinemas,NaN,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand
4,180,2011,City Hall,NaN,SPI Cinemas,NaN,Jayendra,"Umarji Anuradha, Jayendra, Aarthi Sriram, & Suba",Siddarth,Nithya Menon,Priya Anand

## Create new dataframe from selected columns

In [36]:
#new df from specific columns
film_locations_df = film_locations[['Title', 'Release Year', 'Locations']].copy()
film_locations_df.head()

  Title  Release Year                              Locations
0   180          2011      Epic Roasthouse (399 Embarcadero)
1   180          2011  Mason & California Streets (Nob Hill)
2   180          2011                    Justin Herman Plaza
3   180          2011                200 block Market Street
4   180          2011                              City Hall

## Clean the new dataframe

In [37]:
netflix_us = netflix_movies.loc[netflix_movies['country'] == 'United States']
netflix_us

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
20,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,"Comedies, Independent Movies, Romantic Movies",A filmmaker working on a documentary about lov...
...,...,...,...,...,...,...,...,...,...,...,...,...
6225,70153412,TV Show,Frasier,NaN,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
6226,70243132,TV Show,La Familia P. Luche,NaN,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [38]:
#new df from specific columns
netflix_df = netflix_us[['show_id', 'title', 'country', 'release_year']].copy()
netflix_df

       show_id                             title        country  release_year
2     70234439                Transformers Prime  United States          2013
3     80058654  Transformers: Robots in Disguise  United States          2016
4     80125979                      #realityhigh  United States          2017
8     80117902                      Fire Chasers  United States          2017
20    80060297                 Manhattan Romance  United States          2014
...        ...                               ...            ...           ...
6225  70153412                           Frasier  United States          2003
6226  70243132               La Familia P. Luche  United States          2012
6229  80000063                      Red vs. Blue  United States          2015
6230  70286564                             Maron  United States          2016
6233  70153404                           Friends  United States          2003

[2032 rows x 4 columns]

In [39]:
film_locations_df2 =film_locations_df.rename(columns={'Title': 'title', 'Release Year': 'release year', 'Locations': 'locations'})
film_locations_df2.head()

  title  release year                              locations
0   180          2011      Epic Roasthouse (399 Embarcadero)
1   180          2011  Mason & California Streets (Nob Hill)
2   180          2011                    Justin Herman Plaza
3   180          2011                200 block Market Street
4   180          2011                              City Hall

In [40]:
#inner join df's
merged_dfs = pd.merge(netflix_df, film_locations_df2, on='title')
merged_dfs

,show_id,title,country,release_year,release year,locations
0,70044605,The Pursuit of Happyness,United States,2006,2006,Glen Park Subway Station
1,70044605,The Pursuit of Happyness,United States,2006,2006,Glide Memorial Church (434 Ellis St)
2,70044605,The Pursuit of Happyness,United States,2006,2006,Candlestick Park (602 Jamestown Ave.)
3,70044605,The Pursuit of Happyness,United States,2006,2006,Golden Gate Park Children's Playground
4,70044605,The Pursuit of Happyness,United States,2006,2006,Glen Park Subway Station
...,...,...,...,...,...,...
273,80025744,Sense8,United States,2018,2015,Irving St. at 9th Ave.
274,80025744,Sense8,United States,2018,2015,"Dolores Park, 20th St. between Church & Dolore..."
275,80025744,Sense8,United States,2018,2015,Palace of Fine Arts: 3306 Lyon St.
276,80025744,Sense8,United States,2018,2015,Van Ness and 12th St.
277,80025744,Sense8,United States,2018,2015,"""Metzger's Apt"" 151 Alice B. Toklas Pl."

In [41]:
netflix_locations = merged_dfs[['show_id', 'title', 'country', 'release year', 'locations']]
netflix_locations

,show_id,title,country,release year,locations
0,70044605,The Pursuit of Happyness,United States,2006,Glen Park Subway Station
1,70044605,The Pursuit of Happyness,United States,2006,Glide Memorial Church (434 Ellis St)
2,70044605,The Pursuit of Happyness,United States,2006,Candlestick Park (602 Jamestown Ave.)
3,70044605,The Pursuit of Happyness,United States,2006,Golden Gate Park Children's Playground
4,70044605,The Pursuit of Happyness,United States,2006,Glen Park Subway Station
...,...,...,...,...,...
273,80025744,Sense8,United States,2015,Irving St. at 9th Ave.
274,80025744,Sense8,United States,2015,"Dolores Park, 20th St. between Church & Dolore..."
275,80025744,Sense8,United States,2015,Palace of Fine Arts: 3306 Lyon St.
276,80025744,Sense8,United States,2015,Van Ness and 12th St.
277,80025744,Sense8,United States,2015,"""Metzger's Apt"" 151 Alice B. Toklas Pl."

In [43]:
netflix_locations.to_csv('Output/netflix_locations.csv', index=False)